# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
